@media screen and (max-width: 470px) {

    #entete :first-child{
   
        margin-left: -80px;
   
     }  
   
   }
   @media screen and (min-width: 290px){
   
       #entete {
   
           display: none;
       }
       
   }

@media screen and (max-width: 767px) {

    body {
       
      width: 100%;
      margin: 0;
      padding: 0;
      
    }
    
    #menu {

      display: flex;
      width: auto;
      flex-direction: column;
      flex-wrap: wrap; 
      align-items: center;
      margin-left: 15px;
   
      
    }

header {

    display: flex;
    width: 100%;
    margin-top: 40px;
    position: relative;
}

#logo {
     
  margin-left: -30px;
  margin-top: -20px;
  width: 15%;
 
}

   
#menu h5 {

  margin-left: -60px;
  margin-top: 0;
}


    .info {

      margin-right: auto;
      position: relative;
     
    }

 div#recherche {

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  margin-top: 40px;
}


#marker {
    position: relative;
    margin-top: 0;
}

    #champs {
        margin-left: 0;  
    }

#populaire {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 0;
    height: 580px;
    margin-top: 40px;
    margin-left: auto;
          
}
   #populaire i {

    margin-top: 15px;
    margin-left: 0.5px;
   }

   

   #populaire h3 {

    padding-top: 30x;
    margin-left: -100px;
    font-size: 24px;
      
   }
   #populaire .hotel2 {

    height: 140px;
   margin-left: -15px;
    margin-top: 10px;
    
   }
   #populaire img {

    height: 135px;
    width: 130px;
   }
    #search h4{

        display: none;
    }

    #search {

	   width: 50px;
	   height: 50px;
       border-radius: 15px 15px 15px 15px;
       margin-left: -20px;
       margin-top: 0px;
       
    }

    #filtre {
     display: flex;
      width: auto;
      flex-wrap: wrap;
      margin-left: -65px;
      margin-top: -20px;
    }

    #filtre li{

        margin-top: 15px;
        margin-left: 15px;

    }
    #filtre #a {

        width: 175px;
    }

    #filtre #b {
        width: 135px;
    }


    #entete { 

        display: flex;
        width: auto;
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        flex-direction: row;
        font-size: 24px;
        font-weight: normal;
        margin-top: 40px;
        margin-left: auto;   
      
    }
    

    #entete a {
       padding-left: 70px;
      height: 40px;
       
    }


    .heberge {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: -15px;
      background-color: white; 
      margin-top: -20px;
    }

    #alignement {
        width: auto;
        flex-direction: column-reverse;
    }

    #logement {
        width: auto;
        flex-direction: column;
    }
    #logement2 { 
        width: auto;
        flex-direction: column;
        margin-top: 5px;
    }

    .hotel {
        width: auto;
        height: 195px;
        box-shadow: 0px 5px 15px 0px #F2F2F2;
        border-radius: 15px/15px;
        margin-top: 10px;
    }

    #logement3 {

        width: auto;
       justify-content: center;
      
    }

   
    .hotel img {
        width: 320px;
        height: 115px;
    }


    
    #three{ 
        margin-top: 850px;
       
    }

    #conteneur .hotel3, .hotel4, .hotel5, .hotel6, .hotel7 {

        width: 335px;
        height: 190px;
        margin-top: 25px;
    }

    #conteneur div img {

        width: 335px;
        height: 135px;
    }
    #conteneur {

        display: flex;
       width: auto;
       align-items: center;
       margin-left: auto;

        flex-direction: column;
      
    }

    #basdepage {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto; 
       
    }

    #basdepage div {
        width: auto;
        justify-content: flex-start;
       margin-left: 90px;
        margin-top: 20px;
    }
}