  
@media screen and (max-width: 767px) {

   #body {
       margin: 0;
       padding: 0;
       width: 100%;
       overflow: hidden;
   }
    
    #menu {

      display: flex;
      width: auto;
      flex-direction: column;
      flex-wrap: wrap; 
      margin-top: 20px;
      margin-left: 20px;
   
      
    }

header {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top:0;
    position: relative;
}

header img {
     
  width: 90px;
  margin-left: 20px;
  margin-top: 30px;
 
}

   
#menu h5:last-child{
  margin-top: -20px;

  left: 0;
}
#menu h5 {
    margin-top: -10px;
}



    .info {

      margin-right: auto;
      position: relative;
     
    }

 div#recherche {

  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 20px;
}


#marker {
    position: relative;
    margin-top: 0;
}

    #champs {
        margin-left: 0;  
    }

#populaire {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 0;
    height: 580px;
    margin-top: 40px;
    margin-left: auto;
          
}
   #populaire i {

    margin-top: 15px;
    margin-left: 0.5px;
   }

   #populaire h3 {

    padding-top: 30x;
    margin-left: -170px;
    font-size: 20px;
      
   }
   #populaire .hotel2 {

    height: 140px;
   margin-left: -15px;
    margin-top: 10px;
    
   }

   #populaire .fa-chart-line {
       color: black;
       font-size: 20px;
       margin-left: 300px;
       margin-top: -40px ;
   }
   #populaire img {

    height: 135px;
    width: 130px;
   }
    #search h4{

        display: none;
    }

    #search {

	   width: 50px;
	   height: 50px;
       border-radius: 15px 15px 15px 15px;
       margin-left: -20px;
       margin-top: 0px;
       
    }


#champs::placeholder {

    font-size: 16px;
}

#champs {
    width: 240px;
}
    #filtre {
     display: flex;
      width: auto;
      flex-wrap: wrap;
      margin-left: -50px;
      margin-top: -20px;
    }

    #filtre li{

        margin-top: 15px;
        margin-left: 10px;
        font-size: 14px;
        width: 50%;
   
    }
#filtre #a , #filtre #b , #filtre #c, #filrtre #d {

    width: 50%;
}
    #filtre i {

        font-size: 16px;
       
    }

    #menu nav h4:first-child {

      margin-left: 0;
    }

    #menu h3 {

        margin-left: 0;
    }
    #filtre #a {

        width: 175px;
    }

    #filtre #b {
        width: 135px;
    }
     #filtre #c {
         width: 165px;
     }
     #filtre #d {
         width: 220px;
     }

  header nav { 

        display: flex;
        width: 100%;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        font-size: 24px;
        font-weight: normal;
        margin-top: 40px;
        margin-left: 0;     
    }
    
    nav #inscrire {

        position: absolute;
        top: 45px;
        text-align: right;
        right: -30px;
        font-weight: bold;
        
    }

    nav #hebergement, nav #activite {

        width: 50%;
        margin: 0;
        padding: 0;
        top: 0;
        text-align: center;
    }

header .bordbleu, header .bordgris {

    width: 50%;
    margin-top:20px;
   
  }

  header .bordbleu {

    border-bottom: 3px solid #0065FC;
    margin-left: 0;

  }

  header .bordgris {

   border-bottom: 3px solid #F2F2F2;
   margin-left: auto;
  
  }
    .heberge {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 0;
      background-color: white; 
      margin-top: -20px;
    }

    #alignement {
        width: auto;
        flex-direction: column-reverse;
    }

    #logement {
        width: auto;
        flex-direction: column;
    }
    #logement2 { 
        width: auto;
        flex-direction: column;
        margin-top: 5px;
    }

    .hotel {
        width: auto;
        height: 195px;
        box-shadow: 0px 5px 15px 0px #F2F2F2;
        border-radius: 15px/15px;
        margin-top: 10px;
    }

    #logement3 {

        width: auto;
       justify-content: center;
      
    }

   
    .hotel img {
        width: 320px;
        height: 115px;
    }


    
    #three{ 
        margin-top: 850px;
        align-items: center;
       
    }

    #conteneur h3:first-child {
        margin-left: -50px;
        font-size: 22px;
        
        
    }

    #conteneur .hotel3, .hotel4, .hotel5, .hotel6, .hotel7 {

        width: 335px;
        height: 190px;
        margin-top: 25px;
    }

    #conteneur div img {

        width: 335px;
        height: 135px;
    }
    #conteneur {

        display: flex;
       width: auto;
       margin-left: 0;
       align-items: center;
        flex-direction: column;
      
    }

    #basdepage {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto; 
        margin-left: 0;
       
    }

    #basdepage div {
        width: auto;
        justify-content: flex-start;
       margin-left: 90px;
        margin-top: 20px;
    }
}