.grey {
	background-color: #F2F2F2;
}

.bleu {

	background-color: #0065FC;
}
#populaire .gris {

	color:#F2F2F2;
}

.heberge .gris {

	color: #F2F2F2;
}

#search2 {

	display: none;
}
body {
	width: 100%;
   margin: 0;
   padding: 0;
	font-family: 'Raleway', sans-serif;	

}

header nav {

   display: flex;
   width: auto;
   flex-direction: row;
   flex-wrap: nowrap;
   margin-left: -400px;
   font-size: 16px;
	margin-top: 0;

}


header img {

	width: 100px; 
	height: 50px; 
	margin-top:45px;
	margin-left: 50px;
}

header nav {

	display: flex;
	margin-left: 1050px;
	margin-top: -60px;	
	font-size: 20px;

}


header .bordbleu {

    border-bottom: 3px solid #0065FC;
    margin-left: 1000px;
	width: 170px;
	margin-top: -54px;
	

  }

  nav #inscrire {

	font-weight: bold;
  }

  nav #activite {

	color: black;
	
  }

#entete a {

	margin-right: 67px;
	font-size: 0.6em;
	list-style-type: none;
}

#menu {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	margin-left: 50px;
	margin-top: 125px;
}

#menu h1 {
	font-size: 22px;
}

#menu h2 {

	font-weight: normal;
	height: 0;	
	font-size: 13.5px;
}

#menu h5 {
    font-weight: normal;
	font-size: 13.5px;
	margin-top: -17px;
}


#search {

	border: none;
	width: 130px;
	height: 50px;
	margin-left: -5px;
	background-color: #0065FC;
	color:white;
	border-radius: 0px 15px 15px 0px;
	margin-top: 15px;
}


#champs {
	width: 235px;
	height: 45px;
	border: 1px solid #F2F2F2;	
	margin-left: 50px;
	
}

#champs::placeholder {

	color: black;
	font-weight: bold;
	padding-left: 15px;
	font-size: 16px;

}

#marker {

	width: 50px;
	height: 50px;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
	position: absolute;
	margin-top: 15px;	
}



#filtre li {
	list-style-type: none;
	margin-left: 25px;
	border-radius: 30px;
	border-style: solid;
	border-color:  #F2F2F2;
	height: 45px;
	text-align: center;
	font-weight: bold;
}

#filtre li:hover {

	background-color: #0065FC;
	color: white;
}

#filtre #a {
	
	width: 192px;

}
#filtre #b {

	width: 145px;
}

#filtre #c {

	width: 180px;
}

#filtre #d {
	
	width: 240px;
}

.cerclebleu {

	color: #0065FC;
	border-radius: 50%;
	background-color: #DEEBFF;
	width: 50px;
	height: 50px;
	margin-top: -3px;
	margin-left: -3px;
}

.cerclebleu i {

	margin-top: 18px;
}

#filtre{

	display: flex;
	text-decoration: none;
	width: 1350PX;
	margin-left: -25px;
	margin-top: -55px;
}


#filtre li h4 {

	margin-top: -35px;
	margin-left: 45px;
}

#menu nav h3 {

	margin-top: 40px;
	font-size: 18px;
  }

.info {

	color: #0065FC;
	margin-left:12px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-top: 20px;
	border: 1px solid #F2F2F2;
	margin-left: 0;
	
	
}

.fa-search {
	display: none;
}


.info .fa-info {
	font-size: 10px;
	margin-left: 8px;
	margin-top: 0;
}
#alignement {

	display: flex;
	width: 100%;
	margin-left: -40px;
	justify-content: center;
	
	
}


.heberge { 

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding-top: 60px;
   padding-bottom: 20px;
   width: 880px;
   height: 545px;
   background-color: #F2F2F2;
   border-radius: 8px 8px 8px 8px;
   margin-top: 45px;
   margin-left: 50px;
   
}

.heberge h2 {

	position: absolute;
	 margin-left: 35px;
	 margin-top: -20px;
	 font-size: 22px;
   
  }
.heberge h5 {
  
  top: 720px;
  margin-left: 35px;
  margin-top: 20px;
  font-size: 16px;
  
}


.hotel {

	width: 245px;
	height: 200px;
	margin-left: 32px;
	margin-top: 30px;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
}

a {
	text-decoration: none;
	color: black;
}
.hotel img {

  border-radius: 15px 15px 0px 0px;
  width: 235px;
  height: 115px;
  margin-left: 5px;
  margin-top: 5px;

}

.hotel h3{

	margin-left: 15.5px;
	font-weight: bold;
	font-size: 15px;
	margin-top: 7px;
	height: 0;
	color: black;
}

.hotel h4 {

	margin-left: 15.5px;
	font-size: 13px;
	top: 13px;
	font-weight: normal;
	height: 0;
	color: black;
}

.hotel i {

	color: #0065FC;
	font-size: 12px;
	margin-top: 18px;
	margin-left: -1px;
	
}

.heberge .istar {

	margin-left: 15px;
}
#populaire {

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 625px;
   width: 100%;
   background-color: #F2F2F2;
   border-radius: 8px 8px 8px 8px;
   margin-left: 40px;
   margin-top: 45px;
  
}
#populaire img {

	width: 133px;
	height: 130px;
	border-radius: 8px 0px 0px 8px;
	margin-left: 5px;
	margin-top: 5px;
}
#populaire h2 {

	margin-left: 35px;
	font-size: 20px;
	margin-top: 40px;
}
#populaire h3{
	margin-left: 150px;
	font-size: 15px;
	margin-top: -120px;
	color: black;
	width: 140px;

}

#populaire h4 {
	margin-left: 150px;
	font-size: 13px;
	margin-top: -5px;
	font-weight: normal;
	color: black;

}

#populaire i {

	color: #0065FC;
	font-size: 12px;
	margin-left: -1px;
	
}

 .istar {

	margin-left: 155px;
	margin-top: 40px;

}

#populaire .fa-chart-line{
	color: black;
	font-size: 20px;
	margin-top: -40px;
	margin-left: 355px;
	height: 0;
}
.hotel2 {

	width: 345px;
	height: 145px;
	margin-left: 5px;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
}

#logement3 {

    margin-top: 10px;
	margin-left: 0;
}

#logement3 .hotel2 {

	margin-left: 35px;
	margin-top: 35px;
}
a {
	text-decoration: none;
	color: #0065FC;
	font-size: 10px;
}


.hotel3{

	width: 305px;
	height: 445px;
	margin-left: 40px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;

}

.hotel3 img {

	width: 305px;
	height: 390px;
	border-radius: 15px 15px 0px 0px;
}

.hotel4 {
	width: 305px;
	height: 240px;
	margin-left: 40px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;

}

.hotel4 img {

	width: 305px;
	height: 180px;
	border-radius: 15px 15px 0px 0px;
}


#three h3:first-child {

	margin-left: 50px;
	margin-top: 60px;
	font-size: 20px;

}
.hotel5 {

	width: 305px;
	height: 160px;
	margin-left: 40px;
	margin-top: 40px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;
}

.hotel7 {

	width: 305px;
	height: 205px;
	margin-left: 40px;
	margin-top: 40px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;
}

.hotel7 img {
	width: 305px;
	height: 150px;
	border-radius: 15px 15px 0px 0px;
}
#conteneur {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	margin-top: 25px;
	margin-left: -30px;
	
}
#conteneur a {
	
	color: black;
}

#three h2 {
   font-size: 22px;
	margin-left: -1110px;
	text-align: center;
}
#conteneur h3 {

	font-size: 15px;
	margin-left: 15px;
	margin-top: 15px;
}

.hotel5 img {
	width: 305px;
	height: 110px;
	border-radius: 15px 15px 0px 0px;
}
.alignement3 {

	display: flex;
	flex-direction: column;
}

.hotel6 {

	width: 305px;
	height: 195px;
	margin-left: 40px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;
}

.hotel6 img {

	width: 305px;
	height: 140px;
	border-radius: 15px 15px 0px 0px;
}

#alignement2{

	display: flex;
}



#marker i {

	margin-top: 17px;
	margin-left: 20px;
}

li {
	list-style-type: none;
}

#basdepage {

    display: flex;
	height: 220px;
	width: auto;
	background-color: #F2F2F2;
	margin-top: 60px;
	margin-left: 0;
}

.apropos  {

	margin-left: 50px;
}

#basdepage li {

	margin-top: 20px;
	margin-left: -40px;
	font-size: 12px;
}
#basdepage div {

	margin-top: 40px;
	
}
.noshebergements {

	margin-left: 270px;
	

}
#basdepage h5 {

	font-size: 16px;
	margin-left: 0;
	margin-top: 0;
}

.assistance {

	margin-left: 290px;
}



