.grey {
	background-color: #F2F2F2;
}

.bleu {

	background-color: #0065FC;
}

body{

	font-family: 'Raleway', sans-serif;
}
header {

	width: 1315px;	
}

header img {

	width: 100px; 
	height: 50px; 
	margin-top:35px;
	margin-left: 10px;
}

.heberge{

   width: 880px;
   height: 625px;
   background-color: #F2F2F2;
   border-radius: 8px 8px 8px 8px;
   margin-top: 45px;
   float: left; 
}
.heberge h3 {

	margin-left: 40px;
	font-size: 22px;
	padding-top: 45px;
	
	
}
 .heberge h4{

	margin-left: 40px;
	font-size: 22px;
	margin-top: 35px;
	color: black;
 }

.container {
	
   	margin-left: 50px;	
   
}
.hotel {

	width: 245px;
	height: 199px;
	margin-left: 32px;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
}

a {
	text-decoration: none;
	color: black;
}
.hotel img {

  border-radius: 15px 15px 0px 0px;
  width: 235px;
  height: 115px;
  margin-left: 5px;
  margin-top: 5px;

}


.hotel h4 {

	margin-left: 15.5px;
	font-weight: bold;
	font-size: 15px;
	margin-top: 7px;
	height: 0;
	color: black;
}

.hotel h5{

	margin-left: 15.5px;
	font-size: 13px;
	margin-top: 10.6px;
	font-weight: normal;
	height: 0;
	color: black;

}

.hotel i {

	color: #0065FC;
	font-size: 12px;
	margin-top: 8px;
	margin-left: -2px;
	
}
#logement {

	display: flex;
	margin-left: 5px;	
	margin-top:10px;
}
#logement .hotel {

	margin-top: 5px;	
}

#logement2{

	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: 5px;
}


#entete {

	display: flex;
	margin-left: 928px;
	font-weight: bold;
	margin-top: -20px;

	
}

.populaire {

   width: 417px;
   height: 625px;
   background-color: #F2F2F2;
   border-radius: 8px 8px 8px 8px;
   margin-left: 440px;
   margin-top: 45px;
  
}
.populaire img {

	width: 133px;
	height: 130px;
	border-radius: 8px 0px 0px 8px;
	margin-left: 5px;
	margin-top: 5px;
}
.populaire h3 {

	margin-left: 30px;
	padding-top: 45px;
}
.populaire h4{
	margin-left: 150px;
	font-size: 15px;
	margin-top: -110px;
	color: black;

}

.populaire h5 {
	margin-left: 150px;
	font-size: 13px;
	margin-top: -15px;
	font-weight: normal;
	color: black;

}

.populaire i {

	color: #0065FC;
	font-size: 12px;
	margin-top: -40px;
	margin-left: -4px;
}
.hotel2 {

	width: 345px;
	height: 145px;
	margin-left: 5px;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
}


#logement3 .hotel2 {

	margin-left: 35px;
	margin-top: 35px;


}
a {
	text-decoration: none;
	color: #0065FC;
	font-size: 10px;
}
#alignement {

	display: flex;	
}
#entete li {

	margin-right: 67px;
	font-size: 0.6em;
	list-style-type: none;
}

.hotel3{

	width: 300px;
	height: 445px;
	margin-left: 5px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;
}

.hotel3 img {

	width: 300px;
	height: 390px;
	border-radius: 15px 15px 0px 0px;
}

.hotel4 {
	width: 300px;
	height: 240px;
	margin-left: 5px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;

}

.hotel4 img {

	width: 300px;
	height: 185px;
	border-radius: 15px 15px 0px 0px;
}

.hotel5 {

	width: 300px;
	height: 165px;
	margin-left: 5px;
	background-color: white;
	box-shadow: 0px 5px 15px 0px #F2F2F2;
	border-radius: 15px/15px;

}

#menu h5 {

	font-weight: normal;
	height: 0;
	
}
#menu {

	width: 920px;
	margin-left: 15px;
	margin-top:45px
}


#filtre{

	display: flex;
	text-decoration: none;
	width: 1350PX;
	margin-left: -40px;
	margin-top: 30px;
}

#filtre li{
	list-style-type: none;
	margin-left: 25px;
	border-radius: 30px;
	border-style: solid;
	border-color:  #F2F2F2;
	width: 180px;
	height: 45px;
	text-align: center;
	font-weight: bold;
}

#filtre li:hover {

	background-color: #0065FC;
	color: white;
}

.cerclebleu{

	color: #0065FC;
	border-radius: 50%;
	background-color: #DEEBFF;
	width: 50px;
	height: 50px;
	margin-top: -3px;
	margin-left: -3px;
}

.cerclebleu i {

	margin-top: 18px;
}

#filtre li h4 {

	margin-top: -35px;
	margin-left: 45px;
}
.info {

	color: #0065FC;
	margin-left:12px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	border: 1px solid #F2F2F2;
	margin-left: -5px;
	
}

.info i {
	font-size: 10px;
	margin-left: 8px;
	margin-top: 4px;
}
#alignement2{

	display: flex;
}

#search {

	border: none;
	width: 130px;
	height: 50px;
	background-color: #0065FC;
	color:white;
	border-radius: 0px 15px 15px 0px;
	margin-top: 20px;
}


#champs {
	width: 235px;
	height: 50px;
	border: 1px solid #F2F2F2;	
	margin-left: 50px;
	
}

#champs::placeholder {

	color: black;
	font-weight: bold;
	padding-left: 15px;

}

#marker {

	width: 50px;
	height: 50px;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
	margin-top: -50px;
}

#marker i {

	margin-top: 17px;
	margin-left: 20px;
}

#basdepage{

	height: 220px;
	width: 1435px;
	background-color: #F2F2F2;
}
@media (min-width: 1200px) {

	.container {
		width: 1340px;
	}
}

@media (min-width: 100px){
	.container {
		width: 420px;
	}
}

@media (min-width: 601px) and (max-width: 1000px) {

	.container {
		width: 880px;
	}
}