@media screen and (min-width: 768px) and (max-width: 1048px) {

    header nav { 

        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 24px;
        font-weight: normal;
        margin-top: -30px;
        margin-left: 150px;   
      
    }

    header {
      
      width: 100%;
      flex-wrap: wrap;
      margin-top: 0;
      position: relative;

    }

    nav #activite, nav #hebergement, nav #inscrire {

      width: 10%;
      margin:0;
      padding: 0;
    }

    header img {

      margin-left: 40px;
    }
header .bordbleu {

  margin-left: 230px;
  margin-top: -87px;
}
    #entete a{ 

        margin-left: 115px;
    }

    .heberge {

       display: flex;
       flex-direction: column;
       position: relative;
        width: 100%;
        margin-left: auto;
        align-items: center;
    }

    .heberge h3:first-child {

      position: absolute;
       left: auto;
       top: -20px;
       text-align: center;
     
    }
.heberge h3:last-child {
    position: absolute;
    left:auto;
    top: 480px;
    text-align: center;
}
#logement {

  margin-top: 90px;
}
   #logement2 {

    margin-top: 30px;
   }
    #menu {

        display: flex;
        width: auto;
        flex-direction: column;
        flex-wrap: wrap; 
        align-items: flex-start;
        margin-left: 40px;
      
      }

      #filtre {

        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin-left: 30px;
        margin-top: -70px;
      }

      #filtre li {

        margin-top: 15px;
        margin-left: 15px;
  
    }

    #menu nav h4:first-child {

      margin-top: 40px;
    }
   
      #alignement {

        display: flex;
        flex-direction: column;
      }

      #populaire {

        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
        width: auto;
        height: 380px;
      }
#populaire h3 { 

   position: absolute;
   top: -40px;
   left: auto;
    font-size: 24px;
}
     #logement3 .hotel2 {
          flex-direction: column;
           width: 230px;
           height: 200px;
           margin-left: 15px;
           margin-top: 110px;
       }

     #logement3 .hotel2 img {

        width: 130px;
        height: 190px;
        border-radius: 15px 0px 0px 15px;
        margin-left: 5px;
        margin-top: 5px;

       }

       #logement3 .hotel2 h4 {
         
            margin-top: -170px;

       }

      #logement3 {

        display: flex;
        flex-direction: row;
        margin-top: -70px;
      }

      .hotel {

        width: 230px;
        margin-left: 15px;
      }
      .hotel img {
          width: 220px;
      }

      #conteneur {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        margin-left: 15px;
        margin-top: -30px;
        
      }

      #conteneur .hotel3, .hotel4, .hotel5, .hotel6, .hotel7 {

        width: 230px;
        height: 200px;
        margin-top: 35px;
        margin-left: 25px;
    }

    .alignement3 {

      display: flex;
      flex-direction: row;
      margin-left: 0;
      justify-content: center;
    }

  
    #three h3:first-child {
     
      font-size: 24px;
      left: auto;
      top: 60px;
      text-align: center;
    }
    #conteneur img {

       width: 230px;
       height: 115px;
    }

      #basdepage {

        
        width: auto;
        flex-direction: row;
        margin-left: auto;
        flex-wrap: wrap;

      }

      #basdepage div {
       
        margin-left: 80px;
        width: auto;
      
      }
}